{{define "base"}}
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{template "title" .}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='shortcut icon' href='/static/images/favicon.png' type='image/x-icon'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/output.css'>
    <!-- <script src=''></script> -->

</head>

<body>
    <div class="container mx-auto">
        {{template "header" .}}

        <div class="flex align-center h-[80vh] mx-4">
            {{if .HasSidebar}}
            <div class="bg-red-100 w-1/6 grow-0 px-5 py-6">
                {{block "sidebar" .}}{{end}}
            </div>
            <div class="bg-blue-100 w-5/6 grow px-5 py-6">
                {{template "body" .}}
            </div>
            {{else}}
            <div class="bg-blue-100 w-full grow">
                {{template "body" .}}
            </div>
            {{end}}
        </div>

        {{template "footer" .}}
    </div>
</body>

</html>
{{end}}