{{template "base" .}}

{{define "title"}}Certrack - Domains{{end}}

{{define "body"}}

<div class="relative overflow-x-auto shadow-sm sm:rounded-lg">
    {{if .Certificates}}
    <table class="w-full text-md text-left text-gray-500">
        <caption class="caption-top mb-5">
            Domains available for tracking.
          </caption>
        <thead class="text-xs text-gray-700 uppercase">
            <tr>
                <th scope="col" class="px-6 py-3 bg-gray-50">
                    Domain
                </th>
                <th scope="col" class="px-6 py-3">
                    Issuer
                </th>
                <th scope="col" class="px-6 py-3 bg-gray-50">
                    Expiry Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Days Left
                </th>
                <th scope="col" class="px-6 py-3 bg-gray-50">
                    Status
                </th>
                <!-- <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Action</span>
                </th> -->
            </tr>
        </thead>
        {{range .Certificates}}
        <tbody>
            <tr class="bg-white border-b hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-green-600 whitespace-nowrap bg-gray-50 hover:text-emerald-500 hover:underline">
                    <a href="#">{{.Domain}}</a>
                </th>
                <td class="px-6 py-4">
                    {{.Issuer}}
                </td>
                <td class="px-6 py-4 bg-gray-50">
                    {{.ExpiryDate | humanDate}}
                </td>
                <td class="px-6 py-4">
                    {{.DaysLeft}} Days
                </td>
                <td class="px-6 py-4 bg-gray-50">
                    {{.Status}}
                </td>
                <!-- <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 hover:underline">Edit</a>
                    <a href="#" class="font-medium text-red-600 hover:underline">Del</a>
                </td> -->
        </tbody>
        {{end}}
    </table>
    {{else}}
    <p>No shit motherfucker!</p>
    {{end}}
</div>

{{end}}