{{define "header"}}
<div class="flex flex-row justify-between p-4">
    <h1 class="text-blue-700 content-top">
        <a href="/"><img src="/static/images/logo.png" alt="Certrack" width="170" /></a>
    </h1>

    <div>
        {{if .Authenticated}}
        <a href="/logout"
            class="content-center text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2 mr-2 mb-2">Logout {{.Authenticated.Username}}
        </a>
        {{else}}
        <a href="/signin"
            class="content-center text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2 mr-2 mb-2">Signin
        </a>
        {{end}}
    </div>

</div>
{{end}}