{{template "base" .}}

{{define "title"}}Certrack{{end}}

{{define "body"}}
<div class="w-2/3 mx-auto flex flex-col items-center justify-center h-[80vh]">
    <p class="mb-2.5 tracking-wide lg:leading-loose text-center lg:text-xl sm:text-sm md:text-lg">
        Secure your online presence with ease using our TLS Certificate Tracker. 
        We help you monitor and manage the lifecycles of your TLS certificates, 
        ensuring that your website remains secure, your visitors' data stays protected, 
        and you never miss a certificate renewal. With automated tracking, reminders, 
        and complete visibility, maintaining your digital security has never been simpler. 
        Join us today to safeguard your online assets and maintain the trust of your users. 
    </p>
    <a href="/signup"
        class="text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Get Started
    </a>
</div>
{{end}}